
{% extends 'base.html.twig' %}

{% block title %}Tableau de bord de l'utilisateur{% endblock %}

{% block body %}
    <h1>Tableau de bord de l'utilisateur</h1>
    {# Ajoutez le contenu du tableau de bord utilisateur ici #}
{% endblock %}